.reportContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reports{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.animatedNum{
    font-size: 30px;
    font-weight: bold;
}