.containerBorder{
    border-top: 50px solid #003366;
    border-bottom: 50px solid #003366;
}
.tableHeader {
    background-color: #001e3c;
    color: white;
  }
  .tableCell {
    color: #fff !important;
    font-weight: 700 !important;
  }